/* General */
p{
	color: #7F7E7B;
	margin-bottom: 2%;
}
a{
	text-decoration: none;
}
*{font-family: Helvetica;
}
/*HEADER*/
header{
	background-image: url("../img/semilla.jpg");
	background-repeat: no-repeat;	
	background-size: 100%;
	background-position: center;
	height: 300px;

}
/*INTRO-SECTION */
#intro{
	background-image: url("../img/fondo2.jpg");
	padding: 5%;
	margin-bottom: 5%;
}

/*MENU*/
a> li{
	display: inline-block;
	text-decoration: none;
	color: #7F7E7B;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5%;
}
.logo{
	width: 70%;
	height: 70%;
}

/*SECTION*/
section{
	background-color: white;
}
.icon{
	width: 80%;
	height: 80%;
	margin:4%; 
}
/*NOSOTROS*/
.Nosotros> img{
	padding-top: 5%;
}
.img-nosotros{
	margin-top: 5%;
	width: 80%;
	height: 80%;
}
/*Metodologia*/
#Met1{
	background-image: url("../img/metodo.jpg");
	margin-top: 5%;
	background-size: 100%;
	background-repeat:no-repeat;
	margin-bottom: 5%;
}
#Met2{
	background-image: url("../img/fondo.jpg");
	padding: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.Met{
	color: white;
	margin: 4%;
}
.Met img{
	margin-bottom:80%; 
}
h3{
	color:black;
	margin-top: 2%;
	margin-bottom: 2%;
}
.p-section{
	color:#9E9C97 ;
	padding-left: -2%;
}
/*PROYECTOS*/
#Proyectos{
	background-color: #5E8B16;
	padding-bottom:5%; 
}
.img-proy{
	width: 80%;
	height: 70%;
}
/*EQUIPO*/
.Redes{
	width: 5%;
	height: 5%;
	display: inline-block;
	margin: 2%; 
}
.Equipo{
	border-radius: 100%;
	width: 40%;
	height: 40%;
}
/*BLOG*/
#Blog{
	background-image: url("../img/fondo2.jpg");
	padding: 5%;
	margin-top:5%; 
}
.Blog{
	padding: 2%;
	margin: -2%;
}
.Blog img{
	width: 100%;
	height: 100%;
	position: relative;

}
#left{
	top: 50%;
	float: left;
	margin-left: -2%;
	margin-right: 2%;
	margin-top: 10%;
}
#right{
	top: 50%;
	float: right;
	margin-right: 5%;
	margin-top: 10%;
}
/*SIGUENOS*/
.redes{
	width: 30%;
	height: 30%;
	margin-left: 60%;
	margin-top:50%; 
}
#Siguenos{
	background-color: #4F504D;
	padding: 5%;
}
.RS{
	display: inline-block;
	border: solid 1px #DDE0D8; 
	width:25%;
	height: 40%;
	margin-left: -4px;
	padding: 2%;
}
.RS>p{
	color: white;
	border: none; 
	float: left;
}
.min{
	width: 25%;
	height: 5%;
	margin-top: 52%;
}
/*FOOTER*/
footer{
	background-color: #DDE0D8;
	padding: 5%;
}
.phone{
	color:#B6B8B2; 
}
.labo{
	color:#DE9312;
}
.right{
	text-align: right;
}
.ecom{
	color: black;
}

